*.icloud
processing/**
data/study/pilot_data
data/study/0_source-data
data/willy_test
data/how_to_run_experiment.mp4
old_processing/
figures/
*.asv
*.pyc
*.mat
app/fastReach/ptext.py
# *.docx
*.pdf
admin/Questionnaire/
admin/BPN_VP-Gelder-fastReach.docx
